<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nano.persistence.system.RolePrivilegeMapper">
	<select id="findMany" resultType="map" parameterType="map">
		SELECT * FROM SYS_ROLE_PRIVILEGE
		WHERE 1=1
		<if test="roleId != null and roleId != ''">
			AND ROLE_ID = #{roleId}
		</if>
		<if test="privilegeId != null and privilegeId != ''">
			AND PRIVILEGE_ID = #{privilegeId}
		</if>
	</select>
	<insert id="saveMany" parameterType="map">
		INSERT INTO SYS_ROLE_PRIVILEGE (
		ROLE_ID,PRIVILEGE_ID) 
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.roleId},
			#{item.privilegeId}
			)
		</foreach>
	</insert>
	<delete id="deleteMany" parameterType="map">
		DELETE FROM SYS_ROLE_PRIVILEGE WHERE 1=1
		<if test="roleId != null and roleId != ''">
			AND ROLE_ID = #{roleId}
		</if>
		<if test="privilegeId != null and privilegeId != ''">
			AND PRIVILEGE_ID = #{privilegeId}
		</if>
	</delete>
</mapper>