<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nano.persistence.base.BrandCategoryMapper">
	<sql id="result">
		BRAND_ID AS brandId,
		CATEGORY_ID AS categoryId
	</sql>
	<select id="findMany" resultType="com.nano.domain.base.BrandCategory"
		parameterType="com.nano.domain.base.BrandCategory">
		SELECT
		<include refid="result"></include>
		FROM BASE_BRAND_CATEGORY
		WHERE 1=1
		<if test="categoryId != null and categoryId != ''">
			AND CATEGORY_ID=#{categoryId}
		</if>
		<if test="brandId != null and brandId != ''">
			AND BRAND_ID=#{brandId}
		</if>
	</select>
	<insert id="saveOne" parameterType="com.nano.domain.base.BrandCategory">
		INSERT INTO
		BASE_BRAND_CATEGORY (
		CATEGORY_ID,BRAND_ID
		) VALUES(
		#{categoryId},#{brandId}
		)
	</insert>
	<insert id="saveMany" parameterType="map">
		INSERT INTO BASE_BRAND_CATEGORY (
		CATEGORY_ID,BRAND_ID)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.categoryId},
			#{item.brandId}
			)
		</foreach>
	</insert>
	<delete id="delete" parameterType="com.nano.domain.base.BrandCategory">
		DELETE FROM BASE_BRAND_CATEGORY
		WHERE 1=1
		<if test="categoryId != null and categoryId != ''">
			AND CATEGORY_ID=#{categoryId}
		</if>
		<if test="brandId != null and brandId != ''">
			AND BRAND_ID=#{brandId}
		</if>
	</delete>
</mapper>